.solarized-dark {
  background-color: #073642;
  color: #839496;
  a { color: #b58900; }
  a:visited { color: #cb4b16; }
  a:hover { color: #cb4b16; }
  h1 { color: #d33682; }
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #859900;
  }
  pre {
    background-color: #002b36;
    border: 1pt solid #586e75;
    box-shadow: 5pt 5pt 8pt #073642;
    color: #839496;
    padding: 1em;    background-color: #002b36;
  }
  pre code {
    background-color: #002b36;
  }
}
